/*
rgb(42,184,172)
rgb(255,196,133)
rgb(156,85,165)
rgb(204,224,51)
rgb(87,202,221)
rgb(255,246,141)
rgb(44,62,80)
*/
html, body {
  height: 100%;
  width: 100%;
}

html .row, body .row {
  margin: 0;
}

#pinContainer {
  width: 100%;
}

@media (max-width: 400px) {
  #pinContainer {
    height: 800px;
  }
}

@media (min-width: 400px) {
  #pinContainer {
    height: 900px;
  }
}

@media (min-width: 481px) {
  #pinContainer {
    height: 100%;
  }
}

.story-section {
  width: 100%;
  color: white;
  position: absolute;
}

.story-section:nth-of-type(1) {
  background: #fff68d;
  color: #2c3e50;
}

@media (max-width: 400px) {
  .story-section:nth-of-type(1) {
    padding-top: 30vh;
    height: 800px;
  }
}

@media (min-width: 400px) {
  .story-section:nth-of-type(1) {
    padding-top: 35vh;
    height: 900px;
  }
}

@media (min-width: 481px) {
  .story-section:nth-of-type(1) {
    height: 100%;
    padding-top: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.story-section:nth-of-type(2) {
  background: #2ab8ac;
}

@media (max-width: 400px) {
  .story-section:nth-of-type(2) {
    height: 800px;
  }
}

@media (min-width: 400px) {
  .story-section:nth-of-type(2) {
    height: 900px;
  }
}

@media (min-width: 481px) {
  .story-section:nth-of-type(2) {
    height: 100%;
    min-height: 620px;
  }
}

@media (min-width: 576px) {
  .story-section:nth-of-type(2) {
    min-height: 500px;
  }
}

@media (min-width: 768px) {
  .story-section:nth-of-type(2) {
    min-height: 450px;
  }
}

@media (min-width: 992px) {
  .story-section:nth-of-type(2) {
    min-height: 550px;
  }
}

@media (min-width: 1200px) {
  .story-section:nth-of-type(2) {
    min-height: 580px;
  }
}

@media (min-width: 1200px) {
  .story-section:nth-of-type(2) {
    min-height: 700px;
  }
}

.story-section:nth-of-type(3) {
  background: #ffc485;
}

@media (max-width: 400px) {
  .story-section:nth-of-type(3) {
    height: 800px;
  }
}

@media (min-width: 400px) {
  .story-section:nth-of-type(3) {
    height: 900px;
  }
}

@media (min-width: 481px) {
  .story-section:nth-of-type(3) {
    height: 100%;
    min-height: 620px;
  }
}

@media (min-width: 576px) {
  .story-section:nth-of-type(3) {
    min-height: 500px;
  }
}

@media (min-width: 768px) {
  .story-section:nth-of-type(3) {
    min-height: 450px;
  }
}

@media (min-width: 992px) {
  .story-section:nth-of-type(3) {
    min-height: 550px;
  }
}

@media (min-width: 1200px) {
  .story-section:nth-of-type(3) {
    min-height: 580px;
  }
}

@media (min-width: 1200px) {
  .story-section:nth-of-type(3) {
    min-height: 700px;
  }
}

.story-section:nth-of-type(4) {
  background: #9c55a5;
}

.story-section:nth-of-type(4) .donut-tip {
  display: inline-block;
  text-align: center;
  border-radius: 30%;
  padding: 0.5rem;
  background: #333;
  color: #fff;
}

.story-section:nth-of-type(4) .donut-tip .donut-indicators {
  color: hotpink;
}

@media (max-width: 400px) {
  .story-section:nth-of-type(4) {
    height: 800px;
  }
}

@media (min-width: 400px) {
  .story-section:nth-of-type(4) {
    height: 900px;
  }
}

@media (min-width: 481px) {
  .story-section:nth-of-type(4) {
    height: 100%;
    min-height: 620px;
  }
}

@media (min-width: 576px) {
  .story-section:nth-of-type(4) {
    min-height: 500px;
  }
}

@media (min-width: 768px) {
  .story-section:nth-of-type(4) {
    min-height: 450px;
  }
}

@media (min-width: 992px) {
  .story-section:nth-of-type(4) {
    min-height: 550px;
  }
}

@media (min-width: 1200px) {
  .story-section:nth-of-type(4) {
    min-height: 580px;
  }
}

@media (min-width: 1200px) {
  .story-section:nth-of-type(4) {
    min-height: 700px;
  }
}

.story-section .chart-source {
  fill: white;
  text-decoration: underline;
}

.story-section .chart-source:hover {
  fill: gray;
}

.cursor-pointer {
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */