/*
rgba(18, 18, 26, 0.8) 
blackbg

rgb(252, 238, 33) 
lightyellow

rgb(203, 32, 45) 
darkred

rgb(247, 171, 27) 
orange

rgb(236, 112, 37)
darkorange

rgb(229, 75, 39) 
darkerorange

rgb(53, 168, 73) 
darkgreen

rgb(8, 91, 167) 
darkblue

rgb(211, 220, 43) 
yellowgreen

rgb(95, 44, 131)
purple

font-family: 'Acme', sans-serif;
*/

@import url('https://fonts.googleapis.com/css?family=Laila');

$break-mobile-sm: 400px;
$break-mobile-lg: 481px;
$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;
$break-xxl: 1400px;

$slide-bg-color: rgba(18, 18, 26, 0.8);
$source-hover-color: rgb(252, 238, 33);

$laila: 'Laila', serif;

@mixin mobile-sm {
    @media (max-width: #{$break-mobile-sm}) {
       @content;
   }
}

@mixin mobile-lg {
    @media (min-width: #{$break-mobile-sm}) {
       @content;
   }
}

@mixin ssm {
    @media (min-width: #{$break-mobile-lg}) {
       @content;
   }
}

@mixin sm {
   @media (min-width: #{$break-sm}) {
       @content;
   }
}

@mixin md {
    @media (min-width: #{$break-md}) {
       @content;
   }
}

@mixin lg {
    @media (min-width: #{$break-lg}) {
       @content;
   }
}

@mixin xl {
    @media (min-width: #{$break-xl}) {
       @content;
   }
}

@mixin xxl {
    @media (min-width: #{$break-xl}) {
       @content;
   }
}

html, body {
    height: 100%;
    width: 100%;
    font-family: $laila;

    .row {
        margin: 0;
    }
}

#pinContainer {
    width: 100%;
    @include mobile-sm {
        height: 800px;
    }
    @include mobile-lg {
        height: 900px;
    }
    @include ssm {
        height: 100%;
    }
}

.story-section {
    width: 100%;
    color: white;
    position: absolute;

    &:nth-of-type(1) {
        color: white;
        background-size: cover;
        h3 {
            font-size: 2.5rem;
        }

        @include mobile-sm {
            padding-top: 30vh;
            height: 800px;
        }
        @include mobile-lg {
            padding-top: 35vh;
            height: 900px;
        }
        @include ssm {
            height: 100%;
            padding-top: 0;
            align-items: center;
        }
    }

    &:nth-of-type(2) {
        background: $slide-bg-color;
        @include mobile-sm {
            height: 800px;
        }
        @include mobile-lg {
            height: 900px;
        }
        @include ssm {
            height: 100%;
            min-height: 620px;
        }
        @include sm {
            min-height: 500px;
        }
        @include md {
            min-height: 450px;
        }
        @include lg {
            min-height: 550px;
        }
        @include xl {
            min-height: 580px;
        }
        @include xxl {
            min-height: 710px;
        }
    }

    &:nth-of-type(3) {
        background: $slide-bg-color;
        .ticks {
            font-family: $laila;
            font-size: 0.75rem;
        }
        @include mobile-sm {
            height: 800px;
        }
        @include mobile-lg {
            height: 900px;
        }
        @include ssm {
            height: 100%;
            min-height: 620px;
        }
        @include sm {
            min-height: 500px;
        }
        @include md {
            min-height: 450px;
        }
        @include lg {
            min-height: 550px;
        }
        @include xl {
            min-height: 580px;
        }
        @include xxl {
            min-height: 710px;
        }
    }

    &:nth-of-type(4) {
        background: $slide-bg-color;
        .donut-tip {
            display: inline-block;
            text-align: center;
            border-radius: 30%;
            padding: 0.5rem;
            background: #333;
            color: #fff;

            .donut-indicators {
                color: hotpink;
            }
        }
        @include mobile-sm {
            height: 800px;
        }
        @include mobile-lg {
            height: 900px;
        }
        @include ssm {
            height: 100%;
            min-height: 620px;
        }
        @include sm {
            min-height: 500px;
        }
        @include md {
            min-height: 450px;
        }
        @include lg {
            min-height: 550px;
        }
        @include xl {
            min-height: 580px;
        }
        @include xxl {
            min-height: 710px;
        }
    }

    .chart-source {
        fill: white;
        text-decoration: underline;
        &:hover {
            fill: $source-hover-color;
        }
    }
}

.cursor-pointer {
    cursor: pointer;
}

