/*
rgb(42,184,172)
rgb(255,196,133)
rgb(156,85,165)
rgb(204,224,51)
rgb(87,202,221)
rgb(255,246,141)
rgb(44,62,80)
*/

$break-sm: 540px;

html, body {
    height: 100%;
    overflow-x: hidden;
}

.chart-section {
    height: 100%;
    color: white;

    &:nth-of-type(1) {
        background: rgb(42,184,172);
    }

    &:nth-of-type(2) {
        background: rgb(255,196,133);
    }

    &:nth-of-type(3) {
        background: rgb(156,85,165);
    }

    @media screen and (min-width: $break-sm) {
        min-height: 900px;
    }

    .chart-source {
        fill: white;
    }
}