/*
rgb(42,184,172)
rgb(255,196,133)
rgb(156,85,165)
rgb(204,224,51)
rgb(87,202,221)
rgb(255,246,141)
rgb(44,62,80)
*/

$break-sm: 540px;

@mixin sm {
   @media (min-width: #{$break-sm}) {
       @content;
   }
}

html, body {
    height: 100%;
    width: 100%;

    .row {
        margin: 0;
    }
}

#pinContainer {
    height: 100%;
    width: 100%;
}

.story-section {
    height: 100%;
    width: 100%;
    color: white;
    position: absolute;

    &:nth-of-type(1) {
        background: rgb(255,246,141);
        color: rgb(44,62,80);
    }

    &:nth-of-type(2) {
        background: rgb(42,184,172);
        @include sm {
            min-height: 900px;
        }
    }

    &:nth-of-type(3) {
        background: rgb(255,196,133);
        @include sm {
            min-height: 900px;
        }
    }

    &:nth-of-type(4) {
        background: rgb(156,85,165);
        @include sm {
            min-height: 900px;
        }
    }

    .chart-source {
        fill: white;
        text-decoration: underline;
        &:hover {
            fill: gray;
        }
    }
}

.cursor-pointer {
    cursor: pointer;
}

