/*
rgb(42,184,172)
rgb(255,196,133)
rgb(156,85,165)
rgb(204,224,51)
rgb(87,202,221)
rgb(255,246,141)
rgb(44,62,80)
*/

$break-mobile-sm: 400px;
$break-mobile-lg: 481px;
$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;
$break-xxl: 1400px;

@mixin mobile-sm {
    @media (max-width: #{$break-mobile-sm}) {
       @content;
   }
}

@mixin mobile-lg {
    @media (min-width: #{$break-mobile-sm}) {
       @content;
   }
}

@mixin ssm {
    @media (min-width: #{$break-mobile-lg}) {
       @content;
   }
}

@mixin sm {
   @media (min-width: #{$break-sm}) {
       @content;
   }
}

@mixin md {
    @media (min-width: #{$break-md}) {
       @content;
   }
}

@mixin lg {
    @media (min-width: #{$break-lg}) {
       @content;
   }
}

@mixin xl {
    @media (min-width: #{$break-xl}) {
       @content;
   }
}

@mixin xxl {
    @media (min-width: #{$break-xl}) {
       @content;
   }
}

html, body {
    height: 100%;
    width: 100%;

    .row {
        margin: 0;
    }
}

#pinContainer {
    width: 100%;
    @include mobile-sm {
        height: 800px;
    }
    @include mobile-lg {
        height: 900px;
    }
    @include ssm {
        height: 100%;
    }
}

.story-section {
    width: 100%;
    color: white;
    position: absolute;

    &:nth-of-type(1) {
        background: rgb(255,246,141);
        color: rgb(44,62,80);
        @include mobile-sm {
            padding-top: 30vh;
            height: 800px;
        }
        @include mobile-lg {
            padding-top: 35vh;
            height: 900px;
        }
        @include ssm {
            height: 100%;
            padding-top: 0;
            align-items: center;
        }
    }

    &:nth-of-type(2) {
        background: rgb(42,184,172);
        @include mobile-sm {
            height: 800px;
        }
        @include mobile-lg {
            height: 900px;
        }
        @include ssm {
            height: 100%;
            min-height: 620px;
        }
        @include sm {
            min-height: 500px;
        }
        @include md {
            min-height: 450px;
        }
        @include lg {
            min-height: 550px;
        }
        @include xl {
            min-height: 580px;
        }
        @include xxl {
            min-height: 710px;
        }
    }

    &:nth-of-type(3) {
        background: rgb(255,196,133);
        @include mobile-sm {
            height: 800px;
        }
        @include mobile-lg {
            height: 900px;
        }
        @include ssm {
            height: 100%;
            min-height: 620px;
        }
        @include sm {
            min-height: 500px;
        }
        @include md {
            min-height: 450px;
        }
        @include lg {
            min-height: 550px;
        }
        @include xl {
            min-height: 580px;
        }
        @include xxl {
            min-height: 710px;
        }
    }

    &:nth-of-type(4) {
        background: rgb(156,85,165);
        .donut-tip {
            display: inline-block;
            text-align: center;
            border-radius: 30%;
            padding: 0.5rem;
            background: #333;
            color: #fff;

            .donut-indicators {
                color: hotpink;
            }
        }
        @include mobile-sm {
            height: 800px;
        }
        @include mobile-lg {
            height: 900px;
        }
        @include ssm {
            height: 100%;
            min-height: 620px;
        }
        @include sm {
            min-height: 500px;
        }
        @include md {
            min-height: 450px;
        }
        @include lg {
            min-height: 550px;
        }
        @include xl {
            min-height: 580px;
        }
        @include xxl {
            min-height: 710px;
        }
    }

    .chart-source {
        fill: white;
        text-decoration: underline;
        &:hover {
            fill: gray;
        }
    }
}

.cursor-pointer {
    cursor: pointer;
}

